<!DOCTYPE html>
<head>    
    <meta http-equiv="content-type" content="text/html; charset=UTF-8" />
    
        <script>
            L_NO_TOUCH = false;
            L_DISABLE_3D = false;
        </script>
    
    <style>html, body {width: 100%;height: 100%;margin: 0;padding: 0;}</style>
    <style>#map {position:absolute;top:0;bottom:0;right:0;left:0;}</style>
    <script src="https://cdn.jsdelivr.net/npm/leaflet@1.6.0/dist/leaflet.js"></script>
    <script src="https://code.jquery.com/jquery-1.12.4.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/js/bootstrap.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/Leaflet.awesome-markers/2.0.2/leaflet.awesome-markers.js"></script>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/leaflet@1.6.0/dist/leaflet.css"/>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css"/>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap-theme.min.css"/>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.6.3/css/font-awesome.min.css"/>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/Leaflet.awesome-markers/2.0.2/leaflet.awesome-markers.css"/>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/gh/python-visualization/folium/folium/templates/leaflet.awesome.rotate.min.css"/>
    
            <meta name="viewport" content="width=device-width,
                initial-scale=1.0, maximum-scale=1.0, user-scalable=no" />
            <style>
                #map_16cd81de885d4450a2068f8cf3a4beb9 {
                    position: relative;
                    width: 100.0%;
                    height: 100.0%;
                    left: 0.0%;
                    top: 0.0%;
                }
            </style>
        
</head>
<body>    
    
            <div class="folium-map" id="map_16cd81de885d4450a2068f8cf3a4beb9" ></div>
        
</body>
<script>    
    
            var map_16cd81de885d4450a2068f8cf3a4beb9 = L.map(
                "map_16cd81de885d4450a2068f8cf3a4beb9",
                {
                    center: [49.817545, 24.023932],
                    crs: L.CRS.EPSG3857,
                    zoom: 5,
                    zoomControl: true,
                    preferCanvas: false,
                }
            );
            L.control.scale().addTo(map_16cd81de885d4450a2068f8cf3a4beb9);

            

        
    
            var tile_layer_617695d96c034af283b00e035ee5b5a7 = L.tileLayer(
                "https://{s}.tile.openstreetmap.org/{z}/{x}/{y}.png",
                {"attribution": "Data by \u0026copy; \u003ca href=\"http://openstreetmap.org\"\u003eOpenStreetMap\u003c/a\u003e, under \u003ca href=\"http://www.openstreetmap.org/copyright\"\u003eODbL\u003c/a\u003e.", "detectRetina": false, "maxNativeZoom": 18, "maxZoom": 18, "minZoom": 0, "noWrap": false, "opacity": 1, "subdomains": "abc", "tms": false}
            ).addTo(map_16cd81de885d4450a2068f8cf3a4beb9);
        
    
            var feature_group_e3349f614e3946378faa5f9a4800e8a7 = L.featureGroup(
                {}
            ).addTo(map_16cd81de885d4450a2068f8cf3a4beb9);
        
    
            var marker_1162cc2c16ef4be392edd123025cf945 = L.marker(
                [33.9188589, -118.3483256],
                {}
            ).addTo(feature_group_e3349f614e3946378faa5f9a4800e8a7);
        
    
            var icon_432eb1b291144e808ad4f3f612bf7790 = L.AwesomeMarkers.icon(
                {"extraClasses": "fa-rotate-0", "icon": "fa-brands fa-twitter", "iconColor": "white", "markerColor": "blue", "prefix": "fa"}
            );
            marker_1162cc2c16ef4be392edd123025cf945.setIcon(icon_432eb1b291144e808ad4f3f612bf7790);
        
    
        var popup_ed4fd0bb7cd349d08839fdef08ace39d = L.popup({"maxWidth": "100%"});

        
            var i_frame_994d5f76b03443a6a61fc776f0c286b3 = $(`<iframe src="data:text/html;charset=utf-8;base64,CiAgICBGcmllbmRzOjxicj4KICAgICAgICA8cD5TcGFjZVg8L3A+PGJyPgogICAgICAgIA==" width="250" style="border:none !important;" height="100"></iframe>`)[0];
            popup_ed4fd0bb7cd349d08839fdef08ace39d.setContent(i_frame_994d5f76b03443a6a61fc776f0c286b3);
        

        marker_1162cc2c16ef4be392edd123025cf945.bindPopup(popup_ed4fd0bb7cd349d08839fdef08ace39d)
        ;

        
    
    
            var marker_14a3f11800bc4f358fd9d5fbb5bebb7f = L.marker(
                [47.6694141, -122.1238767],
                {}
            ).addTo(feature_group_e3349f614e3946378faa5f9a4800e8a7);
        
    
            var icon_56c32d04c2e94986bbcf763124b08887 = L.AwesomeMarkers.icon(
                {"extraClasses": "fa-rotate-0", "icon": "fa-brands fa-twitter", "iconColor": "white", "markerColor": "blue", "prefix": "fa"}
            );
            marker_14a3f11800bc4f358fd9d5fbb5bebb7f.setIcon(icon_56c32d04c2e94986bbcf763124b08887);
        
    
        var popup_5006ebd64d4541a3a58b7a5d5a195a1e = L.popup({"maxWidth": "100%"});

        
            var i_frame_8386bd8e03d144a7b23776ff8a746d04 = $(`<iframe src="data:text/html;charset=utf-8;base64,CiAgICBGcmllbmRzOjxicj4KICAgICAgICA8cD5YYm94PC9wPjxicj4KICAgICAgICA=" width="250" style="border:none !important;" height="100"></iframe>`)[0];
            popup_5006ebd64d4541a3a58b7a5d5a195a1e.setContent(i_frame_8386bd8e03d144a7b23776ff8a746d04);
        

        marker_14a3f11800bc4f358fd9d5fbb5bebb7f.bindPopup(popup_5006ebd64d4541a3a58b7a5d5a195a1e)
        ;

        
    
    
            var marker_1a26c97fe3c94d42b61e0d3216fd0c5f = L.marker(
                [49.4871968, 31.2718321],
                {}
            ).addTo(feature_group_e3349f614e3946378faa5f9a4800e8a7);
        
    
            var icon_05b2958577134ecab0594aa248a4e770 = L.AwesomeMarkers.icon(
                {"extraClasses": "fa-rotate-0", "icon": "fa-brands fa-twitter", "iconColor": "white", "markerColor": "blue", "prefix": "fa"}
            );
            marker_1a26c97fe3c94d42b61e0d3216fd0c5f.setIcon(icon_05b2958577134ecab0594aa248a4e770);
        
    
        var popup_112bca52cd714a1fb3f9abf7ff4ed918 = L.popup({"maxWidth": "100%"});

        
            var i_frame_06d3998c470f410d9c310b6f06642049 = $(`<iframe src="data:text/html;charset=utf-8;base64,CiAgICBGcmllbmRzOjxicj4KICAgICAgICA8cD5aZWxlbnNreXlVYTwvcD48YnI+CiAgICAgICAg" width="250" style="border:none !important;" height="100"></iframe>`)[0];
            popup_112bca52cd714a1fb3f9abf7ff4ed918.setContent(i_frame_06d3998c470f410d9c310b6f06642049);
        

        marker_1a26c97fe3c94d42b61e0d3216fd0c5f.bindPopup(popup_112bca52cd714a1fb3f9abf7ff4ed918)
        ;

        
    
    
            var marker_8209f06f37bf4dd2a3b3b2d914cf6c7e = L.marker(
                [34.0536909, -118.242766],
                {}
            ).addTo(feature_group_e3349f614e3946378faa5f9a4800e8a7);
        
    
            var icon_eb75834cafae48d58b0614ffd7897eb3 = L.AwesomeMarkers.icon(
                {"extraClasses": "fa-rotate-0", "icon": "fa-brands fa-twitter", "iconColor": "white", "markerColor": "blue", "prefix": "fa"}
            );
            marker_8209f06f37bf4dd2a3b3b2d914cf6c7e.setIcon(icon_eb75834cafae48d58b0614ffd7897eb3);
        
    
        var popup_b80e1c42c6444d37b1d75d988b5e4824 = L.popup({"maxWidth": "100%"});

        
            var i_frame_bc59b17fbd864b0ca4218ca2d71a9feb = $(`<iframe src="data:text/html;charset=utf-8;base64,CiAgICBGcmllbmRzOjxicj4KICAgICAgICA8cD5lbmdpbmVlcnNfZmVlZDwvcD48YnI+CiAgICAgICAg" width="250" style="border:none !important;" height="100"></iframe>`)[0];
            popup_b80e1c42c6444d37b1d75d988b5e4824.setContent(i_frame_bc59b17fbd864b0ca4218ca2d71a9feb);
        

        marker_8209f06f37bf4dd2a3b3b2d914cf6c7e.bindPopup(popup_b80e1c42c6444d37b1d75d988b5e4824)
        ;

        
    
    
            var marker_69d19110a0f64006a4141dfff0077138 = L.marker(
                [36.7014631, -118.755997],
                {}
            ).addTo(feature_group_e3349f614e3946378faa5f9a4800e8a7);
        
    
            var icon_3b0ee71bd42f4ebcb550ceac45c2abc3 = L.AwesomeMarkers.icon(
                {"extraClasses": "fa-rotate-0", "icon": "fa-brands fa-twitter", "iconColor": "white", "markerColor": "blue", "prefix": "fa"}
            );
            marker_69d19110a0f64006a4141dfff0077138.setIcon(icon_3b0ee71bd42f4ebcb550ceac45c2abc3);
        
    
        var popup_1d32ca0c5f49468185f32f2c6c49b498 = L.popup({"maxWidth": "100%"});

        
            var i_frame_e6b904c3651e430180ce94e724efb91e = $(`<iframe src="data:text/html;charset=utf-8;base64,CiAgICBGcmllbmRzOjxicj4KICAgICAgICA8cD5QbGF5U3RhdGlvbjwvcD48YnI+CiAgICAgICAg" width="250" style="border:none !important;" height="100"></iframe>`)[0];
            popup_1d32ca0c5f49468185f32f2c6c49b498.setContent(i_frame_e6b904c3651e430180ce94e724efb91e);
        

        marker_69d19110a0f64006a4141dfff0077138.bindPopup(popup_1d32ca0c5f49468185f32f2c6c49b498)
        ;

        
    
    
            var layer_control_f7405e70e93446a7b0f2d6d96d3698ca = {
                base_layers : {
                    "openstreetmap" : tile_layer_617695d96c034af283b00e035ee5b5a7,
                },
                overlays :  {
                    "Your friends" : feature_group_e3349f614e3946378faa5f9a4800e8a7,
                },
            };
            L.control.layers(
                layer_control_f7405e70e93446a7b0f2d6d96d3698ca.base_layers,
                layer_control_f7405e70e93446a7b0f2d6d96d3698ca.overlays,
                {"autoZIndex": true, "collapsed": true, "position": "topright"}
            ).addTo(map_16cd81de885d4450a2068f8cf3a4beb9);
        
</script>