<!DOCTYPE html>
<head>    
    <meta http-equiv="content-type" content="text/html; charset=UTF-8" />
    
        <script>
            L_NO_TOUCH = false;
            L_DISABLE_3D = false;
        </script>
    
    <style>html, body {width: 100%;height: 100%;margin: 0;padding: 0;}</style>
    <style>#map {position:absolute;top:0;bottom:0;right:0;left:0;}</style>
    <script src="https://cdn.jsdelivr.net/npm/leaflet@1.6.0/dist/leaflet.js"></script>
    <script src="https://code.jquery.com/jquery-1.12.4.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/js/bootstrap.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/Leaflet.awesome-markers/2.0.2/leaflet.awesome-markers.js"></script>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/leaflet@1.6.0/dist/leaflet.css"/>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css"/>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap-theme.min.css"/>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.6.3/css/font-awesome.min.css"/>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/Leaflet.awesome-markers/2.0.2/leaflet.awesome-markers.css"/>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/gh/python-visualization/folium/folium/templates/leaflet.awesome.rotate.min.css"/>
    
            <meta name="viewport" content="width=device-width,
                initial-scale=1.0, maximum-scale=1.0, user-scalable=no" />
            <style>
                #map_bcd81ee659304aa19b736242c8b4565e {
                    position: relative;
                    width: 100.0%;
                    height: 100.0%;
                    left: 0.0%;
                    top: 0.0%;
                }
            </style>
        
</head>
<body>    
    
            <div class="folium-map" id="map_bcd81ee659304aa19b736242c8b4565e" ></div>
        
</body>
<script>    
    
            var map_bcd81ee659304aa19b736242c8b4565e = L.map(
                "map_bcd81ee659304aa19b736242c8b4565e",
                {
                    center: [49.817545, 24.023932],
                    crs: L.CRS.EPSG3857,
                    zoom: 5,
                    zoomControl: true,
                    preferCanvas: false,
                }
            );
            L.control.scale().addTo(map_bcd81ee659304aa19b736242c8b4565e);

            

        
    
            var tile_layer_41f0379b7ed146b7b164450f9f00c6d6 = L.tileLayer(
                "https://{s}.tile.openstreetmap.org/{z}/{x}/{y}.png",
                {"attribution": "Data by \u0026copy; \u003ca href=\"http://openstreetmap.org\"\u003eOpenStreetMap\u003c/a\u003e, under \u003ca href=\"http://www.openstreetmap.org/copyright\"\u003eODbL\u003c/a\u003e.", "detectRetina": false, "maxNativeZoom": 18, "maxZoom": 18, "minZoom": 0, "noWrap": false, "opacity": 1, "subdomains": "abc", "tms": false}
            ).addTo(map_bcd81ee659304aa19b736242c8b4565e);
        
    
            var feature_group_5c7391905da44c6682baf40a616b062c = L.featureGroup(
                {}
            ).addTo(map_bcd81ee659304aa19b736242c8b4565e);
        
    
            var marker_f774a2a57bc74a38a7dc371a78adea8e = L.marker(
                [0.3177137, 32.5813539],
                {}
            ).addTo(feature_group_5c7391905da44c6682baf40a616b062c);
        
    
            var icon_de37893665464e5e8917b7544d5bb861 = L.AwesomeMarkers.icon(
                {"extraClasses": "fa-rotate-0", "icon": "info-sign", "iconColor": "white", "markerColor": "blue", "prefix": "glyphicon"}
            );
            marker_f774a2a57bc74a38a7dc371a78adea8e.setIcon(icon_de37893665464e5e8917b7544d5bb861);
        
    
        var popup_15ecc150a7d745bbbce226433e31a697 = L.popup({"maxWidth": "100%"});

        
            var i_frame_2626625b3541425bbbbfe7703128986e = $(`<iframe src="data:text/html;charset=utf-8;base64,CiAgICBGcmllbmRzOjxicj4KICAgICAgICA8cD5CaWxsY2xpdmUyPC9wPjxicj4KICAgICAgICA=" width="250" style="border:none !important;" height="100"></iframe>`)[0];
            popup_15ecc150a7d745bbbce226433e31a697.setContent(i_frame_2626625b3541425bbbbfe7703128986e);
        

        marker_f774a2a57bc74a38a7dc371a78adea8e.bindPopup(popup_15ecc150a7d745bbbce226433e31a697)
        ;

        
    
    
            var marker_50ed3992a9b046929e4eaaf9ab4246e6 = L.marker(
                [0.3622892, 32.6230938],
                {}
            ).addTo(feature_group_5c7391905da44c6682baf40a616b062c);
        
    
            var icon_473c5977b4614b1b8f703bc4c935d3a3 = L.AwesomeMarkers.icon(
                {"extraClasses": "fa-rotate-0", "icon": "info-sign", "iconColor": "white", "markerColor": "blue", "prefix": "glyphicon"}
            );
            marker_50ed3992a9b046929e4eaaf9ab4246e6.setIcon(icon_473c5977b4614b1b8f703bc4c935d3a3);
        
    
        var popup_88ec2ccd7a744f7583c25b2ef0fb7304 = L.popup({"maxWidth": "100%"});

        
            var i_frame_745b8496662643cbae057f6ca23b23d6 = $(`<iframe src="data:text/html;charset=utf-8;base64,CiAgICBGcmllbmRzOjxicj4KICAgICAgICA8cD5zd2FpYnVrajExPC9wPjxicj4KICAgICAgICA=" width="250" style="border:none !important;" height="100"></iframe>`)[0];
            popup_88ec2ccd7a744f7583c25b2ef0fb7304.setContent(i_frame_745b8496662643cbae057f6ca23b23d6);
        

        marker_50ed3992a9b046929e4eaaf9ab4246e6.bindPopup(popup_88ec2ccd7a744f7583c25b2ef0fb7304)
        ;

        
    
    
            var marker_778cc6f545ce431f9eefcb731d1108a9 = L.marker(
                [61.3154099, -149.561315],
                {}
            ).addTo(feature_group_5c7391905da44c6682baf40a616b062c);
        
    
            var icon_a58431a84f8944ca9dbcd628e5a1e2e6 = L.AwesomeMarkers.icon(
                {"extraClasses": "fa-rotate-0", "icon": "info-sign", "iconColor": "white", "markerColor": "blue", "prefix": "glyphicon"}
            );
            marker_778cc6f545ce431f9eefcb731d1108a9.setIcon(icon_a58431a84f8944ca9dbcd628e5a1e2e6);
        
    
        var popup_93087facc19b4a9692f8a60203eba224 = L.popup({"maxWidth": "100%"});

        
            var i_frame_f2804c30fa244012ac6db5734b4dff0d = $(`<iframe src="data:text/html;charset=utf-8;base64,CiAgICBGcmllbmRzOjxicj4KICAgICAgICA8cD5PbmVNb3JlVGltZUluMjE8L3A+PGJyPgogICAgICAgIA==" width="250" style="border:none !important;" height="100"></iframe>`)[0];
            popup_93087facc19b4a9692f8a60203eba224.setContent(i_frame_f2804c30fa244012ac6db5734b4dff0d);
        

        marker_778cc6f545ce431f9eefcb731d1108a9.bindPopup(popup_93087facc19b4a9692f8a60203eba224)
        ;

        
    
    
            var marker_76a15c51840045478435918668af729b = L.marker(
                [40.0131678, -75.1568438],
                {}
            ).addTo(feature_group_5c7391905da44c6682baf40a616b062c);
        
    
            var icon_a0522e8eb69f42388003ccf17551b0a1 = L.AwesomeMarkers.icon(
                {"extraClasses": "fa-rotate-0", "icon": "info-sign", "iconColor": "white", "markerColor": "blue", "prefix": "glyphicon"}
            );
            marker_76a15c51840045478435918668af729b.setIcon(icon_a0522e8eb69f42388003ccf17551b0a1);
        
    
        var popup_678aa9575d8f46e5995b1d4459b0e7ce = L.popup({"maxWidth": "100%"});

        
            var i_frame_b77e75219fdc433b881184f3a0b97338 = $(`<iframe src="data:text/html;charset=utf-8;base64,CiAgICBGcmllbmRzOjxicj4KICAgICAgICA8cD5MaXZlRm9yTW9yZTQ0PC9wPjxicj4KICAgICAgICA=" width="250" style="border:none !important;" height="100"></iframe>`)[0];
            popup_678aa9575d8f46e5995b1d4459b0e7ce.setContent(i_frame_b77e75219fdc433b881184f3a0b97338);
        

        marker_76a15c51840045478435918668af729b.bindPopup(popup_678aa9575d8f46e5995b1d4459b0e7ce)
        ;

        
    
    
            var marker_542e3fc0bd564b159b41a036a7fe2dff = L.marker(
                [29.9032284, -81.4145468],
                {}
            ).addTo(feature_group_5c7391905da44c6682baf40a616b062c);
        
    
            var icon_01c3723aefe54bfea8bf4a3b4b3ab584 = L.AwesomeMarkers.icon(
                {"extraClasses": "fa-rotate-0", "icon": "info-sign", "iconColor": "white", "markerColor": "blue", "prefix": "glyphicon"}
            );
            marker_542e3fc0bd564b159b41a036a7fe2dff.setIcon(icon_01c3723aefe54bfea8bf4a3b4b3ab584);
        
    
        var popup_5798c34cc9144225998cc74aa245b84d = L.popup({"maxWidth": "100%"});

        
            var i_frame_5f449d9f3dc24c8a93d266b8e7965f8c = $(`<iframe src="data:text/html;charset=utf-8;base64,CiAgICBGcmllbmRzOjxicj4KICAgICAgICA8cD5NYXJrSm9oNzQ0MzE4MzY8L3A+PGJyPgogICAgICAgIA==" width="250" style="border:none !important;" height="100"></iframe>`)[0];
            popup_5798c34cc9144225998cc74aa245b84d.setContent(i_frame_5f449d9f3dc24c8a93d266b8e7965f8c);
        

        marker_542e3fc0bd564b159b41a036a7fe2dff.bindPopup(popup_5798c34cc9144225998cc74aa245b84d)
        ;

        
    
    
            var layer_control_5ce8acc8f5a14456a4732d9a64b5a3f6 = {
                base_layers : {
                    "openstreetmap" : tile_layer_41f0379b7ed146b7b164450f9f00c6d6,
                },
                overlays :  {
                    "Your friends" : feature_group_5c7391905da44c6682baf40a616b062c,
                },
            };
            L.control.layers(
                layer_control_5ce8acc8f5a14456a4732d9a64b5a3f6.base_layers,
                layer_control_5ce8acc8f5a14456a4732d9a64b5a3f6.overlays,
                {"autoZIndex": true, "collapsed": true, "position": "topright"}
            ).addTo(map_bcd81ee659304aa19b736242c8b4565e);
        
</script>